{% extends 'base.html.twig' %}

{% block title %}Connextion
{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
	<div class="container mt-5">
		<form method="post" style="background-color:  rgba(254, 234, 214, 0.86);" class=" col-md-6 mx-auto p-4 rounded border-2 border-gols shadow">
			{% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Connectée en tant que
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">(Se déconnecter)</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal text-center" style="color: rgba(214, 161, 108, 0.86);">
				<strong>Connexion</strong>
			</h1>

			<div>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

			</div>
			<br>
			<div>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="form-check mb-3">
			<br>
				<input class="form-check-input " type="checkbox" name="_remember_me" id="rememberMe">
				<label class="form-check-label" form="remeberMe">
					Se souvenir de moi
				</label>
			</div>

			<button class="btn btn-lg btn-success" type="submit">
				Se connecter
			</button>

			<div class="row mt-4">
				<div>
					<a class="btn btn-outline-dark w-100 w-sm-auto" href="{{ path('app_register')}}">Pas encore inscrit ?</a>
				</div>
				<br>
				<br>

				<div>
					<a class="btn btn-outline-dark w-100 w-sm-auto" href="{{ path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
				</div>
			</div>

		</form>
	</div>
{% endblock %}
