{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
<form method="post" style="background-color:  rgba(250, 242, 242, 0.9);" class=" col-md-6 mx-auto p-4 rounded border-2 border-gols shadow">

	<div class="container mt-5">
		<h1 class="text-center mb-4" style="text-align: center; margin-bottom: 30px; color: rgba(209, 139, 139, 0.9);">
		<strong>
		Modifier mon profil
		</strong></h1>
		
		{{ form_start(form) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.email) }}		
		
		<button class="btn btn-dark w-100 mt-3">Enregistrer</button>
		{{ form_end(form) }}
		
	</div>
</form>
</div>
{% endblock %}
