{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center mb-4">Modifier mon profil</h1>

		{{ form_start(form) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.email) }}
		<button class="btn btn-dark w-100 mt-3">Enregistrer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
