{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
<div style="max-width: 900px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card " ;>

	<div class="container mt-5">
		    <h1 class="text-center" style="color:  rgba(204, 138, 73, 0.86)">

		<strong>
		Modifier mon profil
		</strong></h1><br>
		
		{{ form_start(form) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.email) }}		
		
		<button class="btn btn-dark w-100 mt-3">Enregistrer</button>
		{{ form_end(form) }}
		
	</div>
</form>
</div>
{% endblock %}
