{% extends 'base.html.twig' %}

{% block main_banner %}{% endblock %}

{% block h1 %}Modifier la montre "{{ montre.marque|capitalize}}"
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">

		<a class="btn btn-dark" href="{{ path('app_montre_index') }}">Gestion des montres</a>


		{{ form_start(form) }}

		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.marque) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.prix) }}
			</div>
		</div>
		{{ form_row(form.description) }}

		{{ form_rest(form) }}
		<input type="submit" value="Modifier la montre" class="btn btn-dark w-100 mt-3">
	</div>

	{{ form_end(form) }}
{% endblock %}
