{% extends 'base.html.twig' %}

{% block title %}Nos montres
{% endblock %}
{% block main_banner %}{% endblock %}

{% block body %}
	<div style="max-width: 1400px; margin: auto; padding: 20px; margin-top:20px; background:rgba(246, 216, 186, 0.63); " class="card ">
		<br>
		<h1 style="text-align: center; margin-bottom: 30px; color:rgba(204, 138, 73, 0.86)" class="text-center">
			<strong>
				Listes des montres
			</strong>
		</h1>
		<br>
		<div >
			<a style="max-width: 400px;" class=" btn btn-success" href="{{ path('app_montre_new') }}">Ajouter un produit</a><br><br>
			<div/>


			<table class="table table-hover table-bordered align-middle ">
				<thead class="table-dark">
					<tr class="text-center">
						<th>Id</th>
						<th>Categorie</th>
						<th>Marque</th>
						<th>Description</th>
						<th>Prix (€)</th>
						<th>Image</th>
						<th>Activation</th>

						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for montre in montres %}
						<tr class="text-center">
							<td>{{ montre.id }}</td>
							<td>{{ montre.categorie }}</td>
							<td>{{ montre.marque }}</td>
							<td>{{ montre.description }}</td>
							<td>{{ montre.prix }}</td>
							<td>
								<img src="{{ asset('images/photos_montres/'~montre.image) }}" style="width:90px;height:90px;object-fit:cover;border-radius:6px" </td> 

							<td>
							   {% if montre.isActive %} 

								   <span style="color: green;">⬤</span>

								{% else %}

								   <span style="color: red;">⬤</span>

								{% endif %}
							</td>

							<td>
								{# Fiche complète #}
								<a href="{{ path('app_montre_show', {'id': montre.id }) }}" class="text-decoration-none">
									{{ ux_icon('lucide:file', {'class':'text-warning sizeSvg20'}) }}
								</a>

								{# Modifier #}
								<a href="{{ path('app_montre_edit', {'id': montre.id }) }}" class="text-decoration-none">
									{{ ux_icon('lucide:edit', {'class':'text-info sizeSvg20'}) }}
								</a>

								{# Supprimer #}
								<a href="{{ path('app_montre_delete', {'id': montre.id }) }}" class="text-decoration-none" onclick="return confirm('êtes-vous sûr de vouloir supprimer ce produit ?')">
									{{ ux_icon('lucide:trash-2', {'class':'text-danger sizeSvg20'}) }}
								</a>
							</td>

						</tr>
					{% else %}
						<tr>
							<td colspan="6">Aucune montre trouvée</td>
						</tr>
					{% endfor %}
					
				</tbody>
			</table>
			<a href="javascript:history.back()" style="margin-right: 10px; text-decoration: none; padding: 8px 12px; background: #6c757d; color: #fff; border-radius: 4px;">
						Retour</a>

		</div>
	{% endblock %}
