{% extends 'base.html.twig' %}
{% block  main_banner %}{% endblock %}


{% block body %}
	<div style="max-width: 1400px; margin: auto; padding: 20px; margin-top:20px; background:rgba(255, 241, 241, 0.9); " class="card ">
		<div class=" border-0"><br>
			<h1 class=" text-center" style="text-align: center; margin-bottom: 60px; color: rgba(209, 139, 139, 0.9);" class="text-center">
				<strong>
					Crée une nouvelle montre
				</strong>
			</h1>
		</div>
		<div>
			<a class="btn btn-dark mb-3" href="{{ path('app_montre_index') }}">Gestion des montres</a>
		</div>
		{{ form_start(form) }}

		<div class="row mb-3">
			<div class="col-md-6">
				{{ form_row(form.description) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.prix) }}
			</div>
		</div>


		<div class="row mb-3">
			<div class="col-md-6">
				{{ form_row(form.categorie) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.marque) }}
			</div>
		</div>

		{{ form_rest(form) }}
		<button type="submit" class="btn btn-dark w-100 mt-3">Ajouter une montre
		</button>

		{{ form_end(form) }}
	</div>
</div>{% endblock %}
