{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block main_banner %}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">

	<br>
		<h1 class="text-center ">Liste des catégories</h1><br>

	<a class="btn btn-dark" href="{{ path('app_categorie_new') }}">Ajouter une categorie</a><br><br>

	<table class="table table-hover table-bordered align-middle">
		<thead class="table-dark">
			<tr class="text-center">
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
				<tr class="text-center">
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
               <td>
							{# Fiche complète #}
							<a href="{{ path('app_categorie_show', {'id': categorie.id }) }}" class="text-decoration-none">
								{{ ux_icon('lucide:file', {'class':'text-warning sizeSvg20'}) }}
							</a>

							{# Modifier #}
							<a href="{{ path('app_categorie_edit', {'id': categorie.id }) }}" class="text-decoration-none">
								{{ ux_icon('lucide:edit', {'class':'text-info sizeSvg20'}) }}
							</a>

							{# Supprimer #}
							<a href="{{ path('app_categorie_delete', {'id': categorie.id }) }}" class="text-decoration-none" onclick="return confirm('êtes-vous sûr de vouloir supprimer ce produit ?')">
								{{ ux_icon('lucide:trash-2', {'class':'text-danger sizeSvg20'}) }}
							</a>
						</td>
            </tr>
        {% else %}
				<tr class="text-center">
                <td colspan="3">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
